In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("WeatherPy_vacation.csv")
city_data_df.head(100)

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,8,Avarua,CK,80.60,light rain,-21.21,-159.78,Paradise Inn
1,9,Atuona,PF,80.49,clear sky,-9.80,-139.03,Villa Enata
2,10,Rikitea,PF,76.03,clear sky,-23.12,-134.97,Pension Maro'i
3,12,Ponta Do Sol,BR,81.46,light rain,-20.63,-46.00,Hotel Escarpas do Lago
4,15,Naze,NG,86.00,dust,5.43,7.07,Female Hostel C
...,...,...,...,...,...,...,...,...
95,270,Celestun,MX,72.32,few clouds,20.87,-90.40,Posada Lilia
96,274,Maputo,MZ,81.00,scattered clouds,-25.97,32.57,Pestana Rovuma
97,276,Nazca,PE,84.31,broken clouds,-14.83,-74.94,Casa Andina Standard Nasca
98,277,Sorvag,PE,84.31,broken clouds,-14.83,-74.94,Casa Andina Standard Nasca
99,280,Nokaneng,BW,78.44,light rain,-19.66,22.19,NaN

In [3]:
# Filter the city_data_df and create a DF for each of 4 cities for directions route
city_A_df = city_data_df.loc[(city_data_df["City"]  == "Port Macquarie")]
city_B_df = city_data_df.loc[(city_data_df["City"]  == "Bagotville")]
city_C_df = city_data_df.loc[(city_data_df["City"]  == "Emerald")]
city_D_df = city_data_df.loc[(city_data_df["City"]  == "Cairns")]

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
g_key

'AIzaSyAH87X-PI8RQfWzT8amGlKi6P3N3ONdliM'

In [5]:
# Concatenate the 4 city_dfs into one df and reset index 
directions_df = pd.concat([city_A_df, city_B_df, city_C_df, city_D_df], ignore_index=True)
directions_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,355,Port Macquarie,AU,72.0,overcast clouds,-31.43,152.91,Rydges Port Macquarie
1,610,Bagotville,AU,71.6,overcast clouds,-28.98,153.42,Broadwater Sunrise Caravan Park
2,303,Emerald,AU,73.4,few clouds,-23.53,148.16,The Irish Village
3,350,Cairns,AU,78.8,broken clouds,-16.92,145.77,Mantra Trilogy Cairns

In [6]:
# Use Latitude-Longitude pairs to map out route.
city_A = (-31.43, 152.91)
city_B = (-28.98 , 153.42)
city_C = (-23.53, 148.16)
city_D = (-16.92, 145.77)

fig = gmaps.figure()
vacation_destination = gmaps.directions_layer(city_A, city_D, waypoints=[city_B, city_C])
fig.add_layer(vacation_destination)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} Â°F</dd>
</dl>
"""

In [8]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in directions_df.iterrows()]

In [9]:
# Add a pop-up marker for each city and zoom in on selected 4 city area
locations = directions_df[["Lat", "Lng"]]
weather_description = directions_df["Weather Description"]
max_temp = directions_df["Max Temp"]
fig = gmaps.figure(center=(-26.0, 145), zoom_level=3.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))