In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2020-01-04 19:30:25,-53.16,-70.91,59.00,44,40,14.99
1,1,Kapaa,US,2020-01-04 19:30:25,22.08,-159.32,75.20,88,90,19.46
2,2,Bredasdorp,ZA,2020-01-04 19:30:25,-34.53,20.04,68.00,64,0,8.05
3,3,Escanaba,US,2020-01-04 19:30:26,45.75,-87.06,28.99,68,90,11.41
4,4,Albany,US,2020-01-04 19:30:26,42.65,-73.75,43.00,86,90,5.82

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
# locations = [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]
locations

       Lat     Lng
0   -53.16  -70.91
1    22.08 -159.32
2   -34.53   20.04
3    45.75  -87.06
4    42.65  -73.75
..     ...     ...
538  -6.72  146.98
539  63.05  179.32
540  -9.66   20.40
541  16.89   42.56
542  44.57  129.38

[543 rows x 2 columns]

In [5]:

# 2. Assign the weights variable to some values.
# temperatures = # an array of equal length of the locations array.
# Get the maximum temperature from dataframe and put in new variable max_temp. 
max_temp = city_data_df["Max Temp"]

# Initialze new array temps, then for each temp in max_temp, compare max_temp to 0 and append whichever is larger to temps array. 
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
temps

[59.0,
 75.2,
 68.0,
 28.99,
 43.0,
 0,
 72.01,
 89.65,
 77.32,
 62.01,
 43.0,
 29.97,
 68.0,
 0,
 14.32,
 76.32,
 57.2,
 64.4,
 37.99,
 67.06,
 80.92,
 84.31,
 37.99,
 51.01,
 64.99,
 64.0,
 0,
 47.82,
 0,
 59.25,
 57.99,
 8.98,
 53.01,
 54.34,
 44.6,
 33.49,
 64.06,
 0,
 51.01,
 79.99,
 53.01,
 26.6,
 55.0,
 87.8,
 96.28,
 84.2,
 64.4,
 78.01,
 80.74,
 17.6,
 59.0,
 50.0,
 12.2,
 28.4,
 64.4,
 37.99,
 80.6,
 61.36,
 53.01,
 55.0,
 79.81,
 0,
 39.2,
 28.4,
 86.0,
 72.0,
 59.0,
 26.71,
 32.0,
 3.2,
 30.2,
 72.36,
 81.12,
 43.0,
 54.0,
 55.0,
 80.6,
 63.14,
 71.15,
 77.0,
 61.0,
 28.98,
 0,
 0,
 79.09,
 78.78,
 35.01,
 79.59,
 70.0,
 35.6,
 73.0,
 53.01,
 70.3,
 82.4,
 57.99,
 17.78,
 14.68,
 75.2,
 41.0,
 27.64,
 82.9,
 0,
 33.8,
 60.8,
 60.06,
 75.99,
 60.8,
 26.51,
 82.4,
 0,
 68.0,
 46.99,
 83.97,
 81.37,
 43.0,
 67.73,
 70.05,
 48.85,
 23.07,
 16.86,
 0,
 59.77,
 41.0,
 80.96,
 71.6,
 69.73,
 82.02,
 55.4,
 57.99,
 95.0,
 34.0,
 0,
 46.99,
 83.16,
 30.2,
 62.6,
 63.64,
 44.01,
 21.16,
 8.56,
 80.62,
 46.99,
 35.17,
 0,
 51.01,
 55.94,
 1.4,
 70.65,
 53.56,
 2.82,
 40.75,
 69.19,
 87.91,
 53.01,
 0,
 0,
 59.7,
 1.4,
 22.64,
 86.0,
 55.81,
 78.8,
 27.0,
 3.2,
 84.2,
 48.0,
 25.39,
 71.6,
 75.97,
 86.0,
 82.4,
 42.8,
 13.55,
 64.4,
 79.0,
 54.0,
 81.93,
 78.51,
 0,
 62.65,
 71.44,
 33.8,
 0,
 0,
 76.51,
 73.4,
 15.66,
 62.82,
 79.0,
 72.68,
 75.81,
 77.0,
 48.16,
 53.01,
 78.6,
 30.2,
 80.6,
 15.8,
 0,
 84.56,
 34.0,
 86.0,
 79.0,
 84.2,
 37.9,
 93.99,
 80.01,
 75.2,
 57.2,
 0,
 46.0,
 0,
 0,
 80.6,
 32.0,
 82.4,
 67.14,
 80.24,
 27.52,
 81.25,
 31.21,
 75.74,
 48.99,
 73.65,
 46.4,
 27.73,
 20.32,
 85.12,
 75.15,
 33.08,
 75.36,
 43.0,
 64.31,
 27.82,
 73.0,
 37.0,
 71.6,
 77.0,
 71.69,
 0,
 75.99,
 0,
 39.0,
 0,
 73.98,
 32.07,
 72.93,
 13.53,
 37.4,
 49.44,
 31.62,
 75.2,
 77.74,
 69.01,
 53.6,
 77.65,
 69.8,
 28.24,
 82.4,
 77.0,
 80.89,
 69.8,
 0,
 76.86,
 0,
 78.82,
 36.0,
 75.2,
 84.52,
 0,
 86.0,
 65.64,
 75.13,
 69.15,
 63.0,
 10.4,
 87.39,
 44.01,
 82.47,
 75.13,
 64.72,
 79.59,
 84.2,
 77.45,
 53.6,
 24.8,
 41.0,
 53.26,
 51.71,
 60.8,
 75.2,
 77.0,
 0,
 55.99,
 79.0,
 72.36,
 0,
 71.15,
 63.0,
 82.4,
 60.8,
 50.25,
 77.0,
 77.0,
 0.03,
 28.99,
 62.01,
 15.31,
 66.9,
 84.2,
 57.2,
 71.6,
 82.4,
 21.99,
 37.0,
 21.33,
 0,
 71.69,
 19.42,
 70.74,
 35.01,
 72.19,
 25.75,
 68.7,
 68.0,
 86.0,
 82.4,
 75.2,
 28.0,
 83.32,
 77.0,
 62.01,
 87.01,
 59.0,
 0,
 55.99,
 24.04,
 51.01,
 72.1,
 62.01,
 20.66,
 48.0,
 81.54,
 33.01,
 3.85,
 77.0,
 48.2,
 47.03,
 39.99,
 17.6,
 54.72,
 69.17,
 47.75,
 22.73,
 78.8,
 73.27,
 61.57,
 46.4,
 23.0,
 59.41,
 36.0,
 17.6,
 41.97,
 40.44,
 78.8,
 5.47,
 16.99,
 17.19,
 0,
 35.6,
 84.2,
 33.8,
 41.07,
 44.6,
 55.4,
 55.0,
 22.53,
 26.6,
 39.0,
 77.27,
 73.4,
 82.4,
 73.69,
 30.54,
 78.31,
 77.0,
 27.0,
 67.84,
 70.65,
 45.0,
 93.2,
 12.2,
 71.6,
 84.0,
 79.54,
 66.29,
 73.54,
 46.4,
 78.24,
 89.6,
 83.35,
 74.82,
 67.35,
 24.08,
 68.59,
 69.01,
 79.81,
 0,
 82.76,
 86.0,
 4.82,
 80.6,
 77.92,
 80.6,
 45.7,
 60.51,
 30.04,
 81.61,
 68.0,
 82.4,
 28.4,
 11.48,
 58.64,
 26.6,
 60.8,
 32.86,
 78.8,
 35.01,
 34.86,
 23.0,
 57.99,
 71.6,
 35.01,
 82.83,
 39.2,
 33.01,
 10.45,
 5.0,
 32.0,
 46.58,
 43.0,
 30.2,
 44.6,
 82.4,
 75.78,
 61.0,
 16.84,
 68.0,
 12.97,
 75.72,
 40.84,
 64.4,
 77.0,
 79.02,
 48.0,
 46.99,
 68.52,
 36.0,
 79.0,
 53.6,
 77.67,
 73.42,
 65.23,
 66.2,
 48.0,
 60.58,
 57.54,
 39.99,
 7.86,
 0,
 65.64,
 77.0,
 55.4,
 22.73,
 35.6,
 39.0,
 75.2,
 73.74,
 37.0,
 82.99,
 94.32,
 64.0,
 46.0,
 84.2,
 41.02,
 73.4,
 75.15,
 66.11,
 73.4,
 0,
 25.16,
 74.12,
 72.05,
 64.44,
 68.0,
 66.2,
 92.97,
 73.99,
 35.01,
 0,
 46.44,
 27.0,
 46.11,
 62.6,
 72.34,
 71.33,
 86.0,
 9.0,
 74.5,
 86.0,
 64.72,
 12.2,
 59.41,
 78.15,
 59.47,
 71.11,
 68.29,
 54.91,
 69.75,
 35.01,
 39.0,
 33.8,
 46.0,
 62.6,
 0,
 79.34,
 32.11,
 0,
 77.0,
 28.99,
 75.36,
 27.12,
 83.62,
 63.79,
 78.53,
 57.99,
 0,
 59.0,
 67.06,
 0,
 66.36,
 82.4,
 0]

In [6]:
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4) 
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# gmaps.heatmap_layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [7]:
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=250, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=250, point_radius=3)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))
raining = float(input("Do you want it to be raining? (0=no/1=yes)  "))
snowing = float(input("Do you want it to be snowing? (0=no/1=yes)  "))

What is the minimum temperature you would like for your trip?50
What is the maximum temperature you would like for your trip?90
Do you want it to be raining? (0=no/1=yes)  0
Do you want it to be snowing? (0=no/1=yes)  0

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                      
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2020-01-04 19:30:25,-53.16,-70.91,59.00,44,40,14.99
1,1,Kapaa,US,2020-01-04 19:30:25,22.08,-159.32,75.20,88,90,19.46
2,2,Bredasdorp,ZA,2020-01-04 19:30:25,-34.53,20.04,68.00,64,0,8.05
6,6,Bluff,AU,2020-01-04 19:30:26,-23.58,149.07,72.01,71,62,8.63
7,7,Coahuayana,MX,2020-01-04 19:30:26,18.62,-100.35,89.65,27,0,3.80
8,8,Rikitea,PF,2020-01-04 19:30:27,-23.12,-134.97,77.32,77,62,17.00
9,9,Kaeo,NZ,2020-01-04 19:30:27,-35.10,173.78,62.01,98,100,10.04
12,12,Comodoro Rivadavia,AR,2020-01-04 19:30:27,-45.87,-67.48,68.00,40,40,13.87
15,15,Ranong,TH,2020-01-04 19:30:28,9.96,98.62,76.32,85,17,6.31
16,16,Ushuaia,AR,2020-01-04 19:28:07,-54.81,-68.31,57.20,40,40,5.82

In [21]:
preferred_cities_df.count()

City_ID       315
City          315
Country       312
Date          315
Lat           315
Lng           315
Max Temp      315
Humidity      315
Cloudiness    315
Wind Speed    315
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp    Lat     Lng Hotel Name
0         Punta Arenas      CL     59.00 -53.16  -70.91
1                Kapaa      US     75.20  22.08 -159.32
2           Bredasdorp      ZA     68.00 -34.53   20.04
6                Bluff      AU     72.01 -23.58  149.07
7           Coahuayana      MX     89.65  18.62 -100.35
8              Rikitea      PF     77.32 -23.12 -134.97
9                 Kaeo      NZ     62.01 -35.10  173.78
12  Comodoro Rivadavia      AR     68.00 -45.87  -67.48
15              Ranong      TH     76.32   9.96   98.62
16             Ushuaia      AR     57.20 -54.81  -68.31

In [23]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# payload = {'key1':'value1', 'key2':'value2'}
# r = requests.get('https://httpbin.org/get', params=payload)

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

# Add the latitude and longitude to the params dictionary as values to
#   the location key.
    params["location"] = f"{lat},{lng}"

# Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [ ]:
hotel_df.head(10)

In [ ]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

In [ ]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [ ]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig